<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" role="form">
      <b>Choose your Clan:</b>
      <div class="row">
        <div class="col-xs-9">
          <select ng-model="faction" class="form-control" ng-options="faction.name for faction in factions"></select>
        </div>
        <div class="col-xs-3">
          <button type="button" class="btn btn-primary" ng-click="buildPool()">Generate Pool</button>
        </div>
      </div>
      <br>
      <div class="text-center">
        <span ng-show="buildingPool">Buidling Pool...</span>
        <a class="btn btn-lg btn-success" ng-show="poolUrl" ng-href="{{poolUrl}}" download="{{poolName}}">Download Pool</a>
      </div>
    </form>
  </div>
</div>
